<!DOCTYPE html>
<head>
  <head>
    <title>Givers</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <nav class="nav">
        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">How?</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Why?</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About</a></li>
      </nav>

      <div class="header__text">
        <h1 class="heading--1 header__main">Givers</h1>
        <h2 class="heading--2 header__secondary">Let's help each other</h2>
      </div>
    </div>
    <div class="features">

    </div>
    <div class="reviews">Reviews</div>
    <div class="about">About</div>
  </body>
</head>
